/* Our CSS file. */


.container, .content {
    width: 100%;
    height: 100%;
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 236, 236);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5vh;
}

.card{
    display: flex;
    /* background-color: rgb(185, 161, 207); */
    margin: 3vh auto 3vh auto;
    justify-content: center;
    max-width: 1000px;
    cursor: pointer;
}
.card .left-side{
    flex-basis: 37%;
}
.left-side{
    background-color: rgb(133, 214, 133);
}
.right-side{
    background-color: #fff;
    flex-basis: 63%;
    padding: 30px 0px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    min-width: 400px;
}
.right-side h1{
    text-align: center;
}
.right-side p{
    width: 60%;
    margin:  0 auto;
    text-align: center;
    padding: 15px;
    font-size: large;
}
.right-side button{
    display: block;
    margin: 0 auto;
    padding: 12px 20px;
    background-color: rgb(124, 196, 124);
    border: none;
    color: #fff;
    font-size: 1.14rem;
    border-radius: 25px;
    cursor: pointer;
}
.right-side a{
    text-decoration: none;
}
img{
    position: relative;
    display: block;
    /* margin: -18px -15px 10px -15px; */
    margin: -5vh -4vw 5vh -2vw;
    /* margin: 0 auto; */
    z-index: auto;
}

.card{
    box-shadow: 7px 7px 20px rgb(161, 158, 158);
    border: none;
}

@media screen  and (max-width: 1000px){
    .card{
        width: 80%;
    }
}