/* Our CSS file. */
body {
    font-family: 'Raleway', sans-serif;
} 
header{
    background: #92E0E5;
    color: white;
    height: 50px;
    padding: 0 25px;
}
header nav{
    float: right;
}
header h1 {
    float: left;
    text-indent: -9999px;
    background: url('images/dog-icon.svg') no-repeat;
    height: 35px;
    width: 35px;
    margin-top: 8px;
}
header nav {
    float: right;
}
nav li {
    display: inline-block;
    padding: 17px 10px;
}
nav li:hover {
    background: #3F8DA7;
    color: white;
    cursor: pointer;
}
#hero{
    background: url("./images/park.jpg");
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}
#hero img{
    display: block;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 50%;
    border: 5px solid #3F8DA7;
}
#hero h2{
    font-size: 30px;
    margin-bottom: 25px;
}
.btn{
    background: white;
    border: 5px solid #3F8DA7;
    color: #3F8DA7;
    padding: 5px 10px;
    text-decoration: none;
}
.btn:hover{
    padding: 5px 10px;
    background: #3F8DA7;
    color: white;
}
.three-col{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 10px;
}
.three-col img{
    border-radius: 50%;
    border: 3px solid #3F8DA7;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}
p{
    margin-bottom: 25px;
}
footer{
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: aqua;
    margin-top: 35px;
    height: 200px;
    vertical-align: middle;
}
footer ul{
    position: relative;
    margin-top: 30px;  
}
footer li{
    display: inline-block;
    align-items: center;
    margin-left: 30px;
}
h4{
    margin-top: 40px;
}
footer a{
    position: relative;
    color: white;
    top: 12px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
footer a:hover{
    background-color: #3F8DA7;
}
footer img{
    cursor: pointer;
}